
<div class="task" data-id= "<%=task.id%>">
  <%=check_box_tag 'completed', task.id, task.completed, remote: true, class: "task_checkbox"%>
  <span class="task-text <%= task.completed ? 'strike' : '' %>" data-id="<%=task.id%>">
    <%=task.body%>
  </span>
  <%=link_to fa_icon("pencil 0.3x"), edit_task_path(task), remote: true, class: "btn btn-primary"%>
  <%=link_to fa_icon("trash-o 0.3x"), task_path(task), remote:true, method: :delete, class: "btn btn-danger"%>
</div><br>
